version: "3.8"
services:
  backend:
    build: ./web-services/finance-api
    container_name: spring-api
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build: ./techmarket-frontend
    container_name: web-app
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge

